body {
font-family:Uthman;
  font-display: swap;

}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

@font-face {
  font-family: 'Uthman';
  src: url('KFGQPC Uthman Taha Naskh Regular.eot'); /* IE9 Compat Modes */
  src: url('KFGQPC Uthman Taha Naskh Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('KFGQPC Uthman Taha Naskh Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
     
}
.header1{
 

  width: 100px;

float: left;



}


.header11{
  margin: 0 auto;

  width: 190px;
}


h5{

  
  text-align:right;
   
   padding-top: 1px;

   font-size: 16px;

   font-display: swap;
   font-family:Uthman;
}

h4{


   
   padding-top: 1px;

   font-size: 13px;

   font-display: swap;
   font-family: "Times New Roman", Times, serif;
}

.des{
  font-size: 8px;
float: center;
text-align:center;
  color: #455d6f;
font-family:Uthman;
}

.des2{
  font-size: 7px;
float: center;
text-align:center;
  color: #455d6f;
   font-family: "Times New Roman", Times, serif;
}

.card-tit2{
  padding-top: 0px;
font-size:15px;
text-align: center;
 font-family:Uthman;
 color: #455d6f;
}

p{
text-align:right;
font-size: 12px;

}



.mobile-container {
  max-width: 480px;
  margin: auto;
  color: black;
  border-radius: 10px;

}

.container{


  padding: 7px;
  padding-top: 0px;
}



.nav {
  overflow: hidden;
  /*position: fixed;*/
  width: 100%;
 /* top:143px;*/
  float: right;



border-radius: 0;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

background-color: white;

}


#pills-tab li a {    
  display: block;
  height: 100px;
  width: 70px;
  color:#c37b38;
}

.nav a {


  text-align: center;
  text-decoration: none;

  white-space: nowrap;



  padding: 0px;
  padding-left:1px;
  padding-right: 1px;
   font-family:Uthman;
   color:#c37b38;
 
}




/*-- 
.nav a:hover {
  background: #d2612a; /*-- orange 
  color: black;
} */


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#c37b38;
    background-color: transparent;

    border-radius: 16px;

}

.nav-pills .nav-link:not(.active) {
        color:#c37b38;

    background-color: transparent;
   opacity: 0.5;
    border-radius: 16px;

}


/*-- scroll nav pills */

.singledowre {
    background-color: transparent;
    min-height: 100%;
    padding: 40px 14px;


}

.singledowrediv {
    display: table;
    margin: 0 auto;
    max-width: 950px;

}

.singleinfos {
  
 background-color: white;
    border-radius: 8px;
   
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.singleinfos .singleinfostabs {

  width: 100%;
}
.singleinfos .singleinfostabs > ul {
     overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
     padding-right: 1px;  /*space at the right of bar*/
       padding-bottom: 0px;
   
}

.singleinfos .singleinfostabs .nav-pills > li > a {
    font-size: 14px;

    border-radius: 18px;

    padding: 4px 10px;
    text-align: center;
   /* background: transparent;
   /* color:#3f3534 !important;   /*color of pills */
  white-space: nowrap !important;
padding-bottom: 4px;
padding-top: 4px;
padding-left: 0;


}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;


}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */


 
}



.icon {
  position: relative;
  /* Adjust these values accordingly */
     display: inline-flex;
    vertical-align: middle;

}

/* price & kcal*/


.alignleft {
  float: left;

  color:#c37b38;
   white-space: nowrap;
 font-family: "Times New Roman", Times, serif;

}
.alignright {
  float: right;
font-family: "Times New Roman", Times, serif;
  color:#c37b38;
}

.alignright2 {
  float: right;

  color:#c37b38;
}


.right{
   float: right;
   font-size: 12px;
   padding-left: 4px;
   padding-top:  1.5px;
    color:#c37b38;
     font-family: "Times New Roman", Times, serif;
}

.alignleft3 {
  float: left;

  color:#455d6f;
   white-space: nowrap;
 font-family: "Times New Roman", Times, serif;

}
.alignright3 {
  float: right;
font-family: "Times New Roman", Times, serif;
  color:#455d6f;
}

.right2{
   float: right;
   font-size: 12px;
   padding-left: 4px;
   padding-top:  1.5px;
    color:#455d6f;
     font-family: "Times New Roman", Times, serif;
}



.icons{
 color:#c37b38;
float: left;


}



.card{
border: none;

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


} 


.img-fluid {
  border-radius: 4px;


border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
}


.no-underline:hover {
    text-decoration: none;
}


/* reszie  img*/
.scal2{

width: 100px;



}

.scal3{

width: 120px;



}

.scal4{

width:200px;

}

.footer {
	font-size: 10px;
  text-align:center;
 padding: 1px;
color:#c37b38;

}
